In [1]:
import xlrd
import MySQLdb

# Open the workbook and define the worksheet
loc = ("C:\\Users\\amisk\\Desktop\\Postmonsoon.xls")
book = xlrd.open_workbook(loc)
sheet = book.sheet_by_name("Sheet1")

# Establish a MySQL connection
database = MySQLdb.connect (host="localhost", user = "root", passwd = "", db = "gwdet")

# Get the cursor, which is used to traverse the database, line by line
cursor = database.cursor()

# Create the INSERT INTO sql query
query = """INSERT INTO pm (id, Season, Longitude, Latitude, Temp, WD, ARSE, MN, FE, CA, GWQI, GWQC) 
            VALUES (NULL, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""

# Create a For loop to iterate through each row in the XLS file, starting at row 2 to skip the headers
for r in range(1, sheet.nrows):
    #id= sheet.cell(r,).value
    Season= sheet.cell(r,1).value
    Longitude= sheet.cell(r,2).value
    Latitude= sheet.cell(r,3).value
    Temp= sheet.cell(r,4).value
    WD= sheet.cell(r,5).value
    ARSE= sheet.cell(r,6).value
    MN= sheet.cell(r,7).value
    FE= sheet.cell(r,8).value
    CA= sheet.cell(r,9).value
    GWQI= sheet.cell(r,10).value
    GWQC= sheet.cell(r,11).value

    # Assign values from each row
    values = (Season, Longitude, Latitude, Temp, WD, ARSE, MN, FE, CA, GWQI, GWQC)

    #Execute sql Query
    cursor.execute(query, values)

# Close the cursor
cursor.close()

# Commit the transaction
database.commit()

# Close the database connection
database.close()

# Print results
print ("\nAll Done! Bye, for now.\n")
columns = str(sheet.ncols)
rows = str(sheet.nrows)
print ("I just imported "+columns+" columns and "+rows+" rows to MySQL!")

All Done! Bye, for now.

I just imported 12 columns and 167 rows to MySQL!

In [ ]:
if file_format and file_format != 'xls':
raise XLRDError(FILE_FORMAT_DESCRIPTIONS[file_format]+'; not supported')

In [1]:
import pandas as pd
#data = pd.read_excel('GW-Predicting/Data/Premonsoon.xlsx')
data = pd.read_csv('GW-Predicting/Data/Premonsoon.csv')
print('NO OF ROWS AND COLUMN IN DATASET ', data.shape,'\n')
print('AFTER READING DATASET','\n',data.head())

NO OF ROWS AND COLUMN IN DATASET  (163, 25)

AFTER READING DATASET
    SL. For reference  Year  Season Nest Code Well Code  \
0                  1  2009       0        N3        P1
1                  3  2010       0        N3        P1
2                  5  2011       0        N3        P1
3                  7  2009       0        N3        P2
4                  9  2010       0        N3        P2

  Depth and Color (to be used in plot and analysis)  \
0                                   Shallow - Black
1                                              Deep
2                                   Shallow - Black
3                                   Shallow - White
4                                      Intermediate

  COLOR assigned (FOUR Color) FINAL 2013       Lat       Lon  Temp  ...  \
0                                  BLACK  23.32567  90.70171  26.7  ...
1                              OFF-WHITE  23.32567  90.70171  27.0  ...
2                                  BLACK  23.32567  90.70171  28.1  ...
3                                  WHITE  23.32567  90.70171  26.4  ...
4                                  WHITE  23.32567  90.70171  26.6  ...

       Fe        Ca     Q1  Q2        Q3           Q4           Q5         Q9  \
0  3.9103  153.3078  232.5  40  4523.784  1309.508667  1303.416933  76.653875
1  4.4859  146.1369  207.5 -60  4220.694  1243.708000  1495.304667  73.068435
2  3.3528  127.6802  240.0   8  4307.686  1059.895000  1117.584667  63.840100
3  9.0259   79.1177  275.0   0  2275.254   726.574646  3008.634778  39.558867
4  9.8024  103.3628  250.0 -40  2659.830   624.837400  3267.479333  51.681400

      GWQI             GWQC
0  1318.57  Not Sustainable
1  1313.99  Not Sustainable
2  1087.14  Not Sustainable
3  1290.90  Not Sustainable
4  1281.96  Not Sustainable

[5 rows x 25 columns]

In [2]:
data.drop(["SL. For reference","Nest Code","Well Code","Depth and Color (to be used in plot and analysis)",
           "COLOR assigned (FOUR Color) FINAL 2013","pH","Q1","Q2","Q3","Q4","Q5","Q9"],axis=1,inplace=True)
display(data.dtypes)

Year        int64
Season      int64
Lat       float64
Lon       float64
Temp      float64
WD        float64
EC          int64
As        float64
Mn        float64
Fe        float64
Ca        float64
GWQI      float64
GWQC       object
dtype: object

In [3]:
data['Temp']=data['Temp'].round(decimals=2)
data['WD']=data['WD'].round(decimals=2)
data['EC']=data['EC'].round(decimals=2)
data['As']=data['As'].round(decimals=2)
data['Mn']=data['Mn'].round(decimals=2)
data['Fe']=data['Fe'].round(decimals=2)
data['Ca']=data['Ca'].round(decimals=2)
data['GWQI']=data['GWQI'].round(decimals=2)

In [4]:
print(data)

     Year  Season       Lat       Lon  Temp      WD    EC      As    Mn    Fe  \
0    2009       0  23.32567  90.70171  26.7   53.34   930  452.38  1.31  3.91
1    2010       0  23.32567  90.70171  27.0  231.64   830  422.07  1.24  4.49
2    2011       0  23.32567  90.70171  28.1   53.34   960  430.77  1.06  3.35
3    2009       0  23.32567  90.70171  26.4   74.67  1100  227.53  0.73  9.03
4    2010       0  23.32567  90.70171  26.6  102.13  1000  265.98  0.62  9.80
..    ...     ...       ...       ...   ...     ...   ...     ...   ...   ...
158  2011       0  23.33148  90.80419  26.6   25.91  1026  355.96  0.03  1.48
159  2010       0  23.33148  90.80419  27.1   13.72  1573   50.43  0.18  1.96
160  2010       0  23.33148  90.80419  26.3   25.91  1120    7.00  0.19  3.43
161  2011       0  23.33148  90.80419  26.6   25.91  1238    5.60  0.15  2.93
162  2011       0  23.33148  90.80419  26.9   53.34  1126    5.60  0.22  4.81

         Ca     GWQI             GWQC
0    153.31  1318.57  Not Sustainable
1    146.14  1313.99  Not Sustainable
2    127.68  1087.14  Not Sustainable
3     79.12  1290.90  Not Sustainable
4    103.36  1281.96  Not Sustainable
..      ...      ...              ...
158   20.67   170.44             Poor
159   60.78   294.78        Very Poor
160   86.70   418.84  Not Sustainable
161   58.03   346.95  Not Sustainable
162   42.06   555.59  Not Sustainable

[163 rows x 13 columns]

In [5]:
data.to_excel("uploads/Premon.xls",sheet_name='Sheet1')

C:\Users\amisk\AppData\Local\Temp/ipykernel_15900/1839537149.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  data.to_excel("uploads/Premon.xls",sheet_name='Sheet1')

In [2]:
import pandas as pd
data = pd.read_excel('C:/Users/amisk/Desktop/GW-ALL Files/Main Datas/PostMonsoon-All.xls')
#data = pd.read_csv('GW-Predicting/Data/Premonsoon.csv')
print('NO OF ROWS AND COLUMN IN DATASET ', data.shape,'\n')
print('AFTER READING DATASET','\n',data.head())

NO OF ROWS AND COLUMN IN DATASET  (166, 37)

AFTER READING DATASET
    Unnamed: 0     SamplingPeriod  Year        Season ProjectCode NestCode  \
0           1  2009 POST-Monsoon  2009  POST-Monsoon      SASMIT       N3
1           2  2010 POST-Monsoon  2010  POST-Monsoon      SASMIT       N3
2           3  2011 POST-Monsoon  2011  POST-Monsoon      SASMIT       N3
3           4  2009 POST-Monsoon  2009  POST-Monsoon      SASMIT       N3
4           5  2010 POST-Monsoon  2010  POST-Monsoon      SASMIT       N3

  WellCode    DepthandColor  Color       Lat  ...          Q4           Q5  \
0       P1  Shallow - Black  BLACK  23.32567  ...  297.868500  1301.894667
1       P1  Shallow - Black  BLACK  23.32567  ...  316.042000  1316.593000
2       P1  Shallow - Black  BLACK  23.32567  ...  303.501250  1285.707667
3       P2  Shallow - Black  BLACK  23.32567  ...  169.069325  2673.770667
4       P2  Shallow - Black  BLACK  23.32567  ...  155.477200  3084.654333

          Q6        Q7        Q8        Q9         Q10       Q11     GWQI  \
0  12.594183  0.237736  45.74108  78.96395   86.621333  52.78230   887.27
1   8.008800  0.091200  54.70780  66.13175   91.934167  48.85414   907.12
2  23.609760  0.539600  37.39095  79.75250   98.887600  61.45719   883.40
3  80.399609  0.199198  62.49024  51.59800  101.466900  72.87123  1542.78
4  73.194000  0.079461  82.00108  44.31469  108.894633  63.71794  1760.50

              GWQC
0  Not Sustainable
1  Not Sustainable
2  Not Sustainable
3  Not Sustainable
4  Not Sustainable

[5 rows x 37 columns]

In [3]:
data.to_excel("uploads/postmonsoonall.xls",sheet_name='Sheet1')

C:\Users\amisk\AppData\Local\Temp/ipykernel_2676/1556663476.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  data.to_excel("uploads/postmonsoonall.xls",sheet_name='Sheet1')