In [1]:
import xlrd
import MySQLdb

# Open the workbook and define the worksheet
loc = ("C:\\Users\\amisk\\Desktop\\Postmonsoon.xls")
book = xlrd.open_workbook(loc)
sheet = book.sheet_by_name("Sheet1")

# Establish a MySQL connection
database = MySQLdb.connect (host="localhost", user = "root", passwd = "", db = "gwdet")

# Get the cursor, which is used to traverse the database, line by line
cursor = database.cursor()

# Create the INSERT INTO sql query
query = """INSERT INTO pm (id, Season, Longitude, Latitude, Temp, WD, ARSE, MN, FE, CA, GWQI, GWQC) 
            VALUES (NULL, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""

# Create a For loop to iterate through each row in the XLS file, starting at row 2 to skip the headers
for r in range(1, sheet.nrows):
    #id= sheet.cell(r,).value
    Season= sheet.cell(r,1).value
    Longitude= sheet.cell(r,2).value
    Latitude= sheet.cell(r,3).value
    Temp= sheet.cell(r,4).value
    WD= sheet.cell(r,5).value
    ARSE= sheet.cell(r,6).value
    MN= sheet.cell(r,7).value
    FE= sheet.cell(r,8).value
    CA= sheet.cell(r,9).value
    GWQI= sheet.cell(r,10).value
    GWQC= sheet.cell(r,11).value

    # Assign values from each row
    values = (Season, Longitude, Latitude, Temp, WD, ARSE, MN, FE, CA, GWQI, GWQC)

    #Execute sql Query
    cursor.execute(query, values)

# Close the cursor
cursor.close()

# Commit the transaction
database.commit()

# Close the database connection
database.close()

# Print results
print ("\nAll Done! Bye, for now.\n")
columns = str(sheet.ncols)
rows = str(sheet.nrows)
print ("I just imported "+columns+" columns and "+rows+" rows to MySQL!")

All Done! Bye, for now.

I just imported 12 columns and 167 rows to MySQL!

In [ ]:
if file_format and file_format != 'xls':
raise XLRDError(FILE_FORMAT_DESCRIPTIONS[file_format]+'; not supported')

In [1]:
import pandas as pd
#data = pd.read_excel('GW-Predicting/Data/Premonsoon.xlsx')
data = pd.read_csv('GW-Predicting/Data/Postmonsoon.csv')
print('NO OF ROWS AND COLUMN IN DATASET ', data.shape,'\n')
print('AFTER READING DATASET','\n',data.head())

NO OF ROWS AND COLUMN IN DATASET  (166, 25)

AFTER READING DATASET
    SL. For reference  Year  Season Nest Code Well Code  \
0                  2  2009       1        N3        P1
1                  4  2010       1        N3        P1
2                  6  2011       1        N3        P1
3                  8  2009       1        N3        P2
4                 10  2010       1        N3        P2

  Depth and Color (to be used in plot and analysis)  \
0                                   Shallow - Black
1                                   Shallow - Black
2                                   Shallow - Black
3                                   Shallow - Black
4                                   Shallow - Black

  COLOR assigned (FOUR Color) FINAL 2013       Lat       Lon  Temp  ...  \
0                                  BLACK  23.32567  90.70171  26.8  ...
1                                  BLACK  23.32567  90.70171  26.8  ...
2                                  BLACK  23.32567  90.70171  26.5  ...
3                                  BLACK  23.32567  90.70171  27.8  ...
4                                  BLACK  23.32567  90.70171  26.6  ...

       Fe        Ca     Q1  Q2        Q3          Q4           Q5        Q9  \
0  3.9057  157.9279  240.0   8  4244.189  297.868500  1301.894667  78.96395
1  3.9498  132.2635  195.5  40  4495.865  316.042000  1316.593000  66.13175
2  3.8571  159.5050  244.5 -80  4506.501  303.501250  1285.707667  79.75250
3  8.0213  103.1960  287.5 -24  2525.309  169.069325  2673.770667  51.59800
4  9.2540   88.6294  245.0 -40  2740.850  155.477200  3084.654333  44.31469

      GWQI             GWQC
0   907.25  Not Sustainable
1   927.61  Not Sustainable
2   903.08  Not Sustainable
3  1578.08  Not Sustainable
4  1801.15  Not Sustainable

[5 rows x 25 columns]

In [2]:
data.drop(["SL. For reference","Nest Code","Well Code","Depth and Color (to be used in plot and analysis)",
           "COLOR assigned (FOUR Color) FINAL 2013","pH","Q1","Q2","Q3","Q4","Q5","Q9"],axis=1,inplace=True)
display(data.dtypes)

Year        int64
Season      int64
Lat       float64
Lon       float64
Temp      float64
WD        float64
EC          int64
As        float64
Mn        float64
Fe        float64
Ca        float64
GWQI      float64
GWQC       object
dtype: object

In [3]:
data['Temp']=data['Temp'].round(decimals=2)
data['WD']=data['WD'].round(decimals=2)
data['EC']=data['EC'].round(decimals=2)
data['As']=data['As'].round(decimals=2)
data['Mn']=data['Mn'].round(decimals=2)
data['Fe']=data['Fe'].round(decimals=2)
data['Ca']=data['Ca'].round(decimals=2)
data['GWQI']=data['GWQI'].round(decimals=2)

In [4]:
print(data)

     Year  Season       Lat       Lon  Temp      WD    EC      As    Mn    Fe  \
0    2009       1  23.32567  90.70171  26.8   16.76   960  424.42  1.19  3.91
1    2010       1  23.32567  90.70171  26.8   16.76   782  449.59  1.26  3.95
2    2011       1  23.32567  90.70171  26.5   16.76   978  450.65  1.21  3.86
3    2009       1  23.32567  90.70171  27.8   28.95  1150  252.53  0.68  8.02
4    2010       1  23.32567  90.70171  26.6   28.95   980  274.08  0.62  9.25
..    ...     ...       ...       ...   ...     ...   ...     ...   ...   ...
161  2011       1  23.33148  90.80419  26.1   33.54  1241  358.59  0.04  1.51
162  2010       1  23.33148  90.80419  26.5   57.93  1808   38.02  0.05  1.76
163  2010       1  23.33148  90.80419  26.4  230.49  1213    5.60  0.15  3.54
164  2011       1  23.33148  90.80419  26.3  230.49  1311    5.60  0.16  3.82
165  2011       1  23.33148  90.80419  26.6  109.76  1290    5.60  0.10  3.77

         Ca     GWQI             GWQC
0    157.93   907.25  Not Sustainable
1    132.26   927.61  Not Sustainable
2    159.50   903.08  Not Sustainable
3    103.20  1578.08  Not Sustainable
4     88.63  1801.15  Not Sustainable
..      ...      ...              ...
161   25.80   339.71  Not Sustainable
162   55.64   334.23  Not Sustainable
163   67.35   661.40  Not Sustainable
164   69.81   714.33  Not Sustainable
165   49.78   698.49  Not Sustainable

[166 rows x 13 columns]

In [5]:
data.to_excel("uploads/Postmon.xls",sheet_name='Sheet1')

C:\Users\amisk\AppData\Local\Temp/ipykernel_2564/3349498383.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  data.to_excel("uploads/Postmon.xls",sheet_name='Sheet1')